<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致-->
<mapper namespace="com.jf.mydemo.es.myelasticsearch.mapper.IEmployeeMapper">
    <select id="queryAll" resultType="com.jf.mydemo.es.myelasticsearch.entities.testDbEntity.EmployeerBean" >
        SELECT hp.uid uid,hp.pla_name plaName,hp.floors floors,hp.type type
        FROM hj_placetree hp
        WHERE hp.uid=#{uid} AND hp.status="A"
    </select>

</mapper>